.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
}

.container {
    width: 100%;
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 36pt;
    text-align: center;
}

