.errorMessage {
    width: 90%;
    font-size: 10pt;
    color: red;
    margin-top: 0.2rem;
}

.generalError {
    width: 100%;
    text-align: center;
}

.authFormContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.authForm {
    width: 40%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 1rem;
    border: 2px solid grey;
    border-radius: 10px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputField {
    width: 90%;
    background-color: white;
    border: 1px solid black;
    padding: 0.5rem 0.5rem 0.5rem 0;
    border: none;
    border-bottom: 1px solid black;
}

.btn {
    width: 50%;
    padding: 0.5rem;
    background-color: blue;
    color: white;
    cursor: pointer;
    margin: 1rem auto;
}

.registerPageLink {
    text-align: center;
    font-size: 10pt;
}

.registerPageLink span {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.inputField:focus {
    outline: none;
}

.h2 {
    margin: 1rem 0;
    text-align: center;
    font-size: 18pt;
}