.errorMessage {
    color: red;
    margin-top: 5px;
}

.authFormContainer {
    min-height: 100vh;
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.authForm {
    width: 40%;
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 1rem;
    border: 2px solid grey;
    border-radius: 10px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
}

.inputField {
    background-color: white;
    border: 1px solid black;
    padding: 0.3rem;
}