.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 2rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.5);
    margin: 1rem 0 2rem 0;
    border-radius: 1rem;
}

.title {
    font-size: 1.4rem;
    font-weight: 800;
}

.nameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.nameSection {
    display: flex;
    flex-direction: column;
}

.label {
    margin-bottom: 0.5rem;
    padding-left: 1rem;
}

.input, .textarea {
    width: 100%;
    background-color: rgb(241, 241, 241);
    border-radius: 1rem;
    border: 1px solid gray;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    margin-bottom: 0.5rem;
}

.textarea {
    height: 8rem;
    margin-bottom: 2rem;
}

.input:focus {
    outline: none;
}

.button {
    background: linear-gradient(to bottom right, rgb(255, 207, 74), rgb(255, 149, 0));
    width: 70%;
    padding: 0.7rem 1rem;
    font-size: 1.2rem;
    border-radius: 3rem;
    margin: auto;
    font-weight: 800;
}
