.container {
    width: 100%;
    background-color: black;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.logo {
    width: 9rem;
}

.linkContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.contactInfoContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 1rem;
    border-top: 2px solid rgba(255, 255, 255, 0.4);
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
    padding: 2rem;
}

.contactInfo {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

.icon {
    width: 2rem;
}

.copyright {
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
}
