.navbarContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    position: fixed;
    top: 0;
    height: 4rem;
    padding: 1rem;
    align-items: center;
    z-index: 10;
    color: black;
    background-color: white;
}

.logo {
    height: 2.5rem;
    cursor: pointer;
    margin-right: auto;
}

.profileButton {
    filter: invert(1);
    cursor: pointer;
}

.profileButton :hover {
    filter: invert(0.3)
}