.navbarContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    position: fixed;
    top: 0;
    height: 4rem;
    padding-right: 1.5rem;
    align-items: center;
    z-index: 10;
    color: white;
    background-color: rgba(0, 0, 0, 0.233);
}