.navbarContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    position: fixed;
    top: 0;
    height: 4rem;
    padding: 1rem;
    align-items: center;
    z-index: 10;
    color: white;
    background-color: black;
}

.logo {
    height: 2rem;
    cursor: pointer;
    margin-right: auto;
}

.profileButton {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    filter: invert(0);
}

.profileButton:hover {
    filter: invert(0.4);
}