.reviewsSection {
  position: relative;
  background: rgb(255, 251, 240);
  margin-top: 2rem;
  padding-top: clamp(2rem, 8vw, 2rem);
  width: 100%;
}

.waveTop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(-100%);
  line-height: 0;
}

.waveTop svg {
  width: 100%;
  height: 120px;
  display: block;
}
