.container {
    background: linear-gradient(to top left, rgb(255,237,186), rgb(252,211,77), rgb(255,237,186));
    width: 100%;
    min-height: 100vh;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    padding: 1.5rem;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}
.subtitle {
    font-size: 1.2rem;
    text-align: center;
}

.kanbanImage {
    /* margin: 2rem 0; */
    width: 70%;
    max-width: 500px;
    
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


