.waveTop {
  position: absolute;
  top: 790px;
  left: 0;
  width: 100%;
  height: 150px;
  background-color: rgba(101, 101, 170, 0);
  /* rotate: 180deg; */
}

.waveTop svg {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(155, 160, 133, 0);
}
