.container {
    background-color: rgb(255, 187, 0);
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    padding: 2rem;
    margin-top: 2rem;
}

.title {
    font-size: 2.1rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.description {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}
