.container {
    /* background-color: rgb(255, 187, 0); */
    background: linear-gradient(to bottom right, rgb(255, 207, 74), rgb(255, 149, 0));
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    padding: 2rem;
    margin: 2rem 0;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5);
}

.title {
    font-size: 2.1rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.description {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}
