.container {
  width: 100%;
  padding: 2rem 0;
  text-align: center;
  background-color: rgb(0, 0, 0);;
}

.sectionTitle {
  margin: 0 0.7rem 2rem 0.7rem;
  font-size: 1.2rem;
  color: orange;
}

.marquee {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.track {
  display: flex;
  align-items: center;
  animation: marquee var(--duration, 18s) linear infinite;
}

.sequence {
  display: flex;
  gap: 4rem;
  align-items: center;
  flex: none; 
  padding-left: 4rem; 
}

.logoItem {
  flex-shrink: 0;
  white-space: nowrap;
  font-size: 1.2rem;
  font-weight: 600;
  opacity: 0.8;
  margin: 0;
  color: rgb(226, 226, 226);
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-1 * var(--seq-width, 0px)));
  }
}
