.errorMessage {
    width: 90%;
    font-size: 10pt;
    color: red;
    margin-top: 0.2rem;
}

.generalError {
    width: 100%;
    text-align: center;
}

.authFormContainer {
    width: 100%;
    min-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.authForm {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.inputContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.label {
    padding: 0 0 0.5rem 1rem;
}

.inputField {
    width: 100%;
    background-color: rgb(236, 236, 236);
    border: 1px solid black;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border: none;
    border-radius: 50px;
    border-bottom: 1px solid black;
}

.btn {
    width: 90%;
    padding: 0.6rem;
    background-color: black;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    margin: 1rem auto;
    font-weight: bold;
}

.registerPageLink {
    text-align: center;
    font-size: 10pt;
}

.registerPageLink span {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.inputField:focus {
    outline: none;
}

.h2 {
    margin: 1rem 0;
    text-align: center;
    font-size: 18pt;
}