.errorMessage {
    width: 90%;
    font-size: 10pt;
    color: red;
    margin-top: 0.2rem;
}

.generalError {
    width: 100%;
    text-align: center;
}

.authFormContainer {
    width: 100%;
    min-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.authForm {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.inputContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.label {
    padding: 0 0 0.5rem 1rem;
}

.inputField {
    width: 100%;
    background-color: rgb(241, 241, 241);
    padding: 0.7rem 0.7rem 0.7rem 1rem;
    border-radius: 50px;
    border: 1px solid black;
}

.btn {
    width: 90%;
    padding: 0.8rem;
    background-color: black;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    margin: 1.5rem auto;
    font-weight: bold;
}

.inputField:focus {
    outline: none;
}
