.authContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.centerContent {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}

.toggleContainer {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
}
